<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864993710252-ndgslt15hhlb41bh90vsqireu1iq0h3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864993710252-ndgslt15hhlb41bh90vsqireu1iq0h3i</string>
	<key>API_KEY</key>
	<string>AIzaSyCGHrMx965OFgTKuWzbv7Hd_9PLv7-nbRI</string>
	<key>GCM_SENDER_ID</key>
	<string>864993710252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birthdayApp</string>
	<key>PROJECT_ID</key>
	<string>birthdayapp-f3932</string>
	<key>STORAGE_BUCKET</key>
	<string>birthdayapp-f3932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864993710252:ios:2073fe8df63478d1aecf09</string>
</dict>
</plist>